@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
html {
	position: relative;
	min-height: 100%;
}
body {
    background-color: #fff;
    font-family: 'Gotham-Book';
    font-weight: normal;
    height: 100%;
    font-size: 16px;
    color: #7f8a96;
    line-height: 1.5;
}
img {
	max-width: 100%;
	height: auto;
	outline: 0
}
a {
	text-decoration: none;
	color: #7f8a96;
	outline: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s
}
a:active, a:focus, a:hover {
	text-decoration: none;
	color: #000000;
	outline: 0
}
ins {
	text-decoration: none
}
ol, ul {
	padding-left: 22px;
	margin-bottom: 20px
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	font-style: normal;
	margin-top: 0;
	line-height: 1.1;
	margin-bottom: 15px;
}
.h1, h1 {
	font-size: 36px
}
.h2, h2 {
	font-size: 30px
}
.h3, h3 {
	font-size: 28px
}
.h4, h4 {
	font-size: 24px
}
.h5, h5 {
	font-size: 22px
}
.h6, h6 {
	font-size: 20px
}
p {
	margin-bottom: 15px
}
b, strong {
	font-weight: 600;
	font-style: normal;
}
i, em {
	font-weight: 400;
	font-style: italic;
}
#rws-preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background: #b80221;
	opacity: 1;
	overflow: hidden
}
#rws-loading {
	opacity: 1;
	visibility: visible;
	border-top: 1px solid rgba(255, 255, 255, .3);
	border-right: 1px solid rgba(255, 255, 255, .3);
	border-bottom: 1px solid rgba(255, 255, 255, .3);
	border-left: 2px solid rgba(255, 255, 255, .8);
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 11;
	margin: -30px 0 0 -30px;
	transition: opacity .3s;
	-moz-transition: opacity .3s;
	-webkit-transition: opacity .3s;
	animation: loaderAnimation .8s infinite linear;
	-moz-animation: loaderAnimation .8s infinite linear;
	-webkit-animation: loaderAnimation .8s infinite linear
}
#rws-loading, #rws-loading:after {
	border-radius: 50%;
	width: 80px;
	height: 80px
}
 @-webkit-keyframes loaderAnimation {
 0% {
 -webkit-transform: rotate(0);
 transform: rotate(0)
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg)
}
}
 @keyframes loaderAnimation {
 0% {
 -webkit-transform: rotate(0);
 transform: rotate(0)
}
 100% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg)
}
}
.btn {
	outline: 0;
	box-shadow: none;
	white-space: normal;
	border-radius: 0;
}
.header-logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	padding: 50px 0 0 50px;
}
.header-logo img {
	height: 44px;
	width: auto;
}
.page-content {
	padding: 15px 50px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
	font-size: 13px;
	padding: 25px 50px;
	z-index: 100;
	color: #ffffff;
	left: 0;
	font-weight: 500;
}
.footer.style-1 {
	color: #949494;
	text-align: right;
}
.color-1 {
	color: #949494;
}
.footer p {
	margin: 0px;
}
.hero {
	background: url(../images/bg-1.jpg) no-repeat center center;
	background-size: cover;
	background-color: #b80221;
	color: #ffffff;
}
.section-wrapper {
	position: relative;
	height: 100%;
	display: table;
	width: 100%;
}
.section-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}
.valign-m {
	vertical-align: middle;
}
.valign-t {
	vertical-align: top;
}
.valign-b {
	vertical-align: bottom;
}
.hero-heading {
	font-size: 65px;
font-weight: 500;
    position: relative;
    font-family: 'Gotham-Medium';
}
.hero-heading:before {
	content: "";
	display: block;
	width: 80px;
	height: 7px;
	position: absolute;
	bottom: 0;
	background-color: #fff;
}
.hero-heading:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	margin: 30px 0;
}
.hero-desc {
}
.page-content .hero-content {
	position: relative;
	width: 30%;
	z-index: 1;
}
.page-content .hero-image {
position: absolute;
    padding-left: 40%;
    bottom: 0;
    padding-right: 0;
    padding-top: 80px;
    right: 0;
}
.bg-img {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-img:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.2;
}
.step-link {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 5;
}
.step-link.hero-btn{
top:auto;
bottom:60px;
    transform: none;
}
.step-link a {
	display: block;
	    font-family: 'Gotham-Medium';
    font-weight: 500;
	color: #000000;
	background-color: #faeaed;
	padding: 0px 0px 0px 58px;
	font-size: 14px;
	position: relative;
	text-align: center;
	line-height: 58px;
	text-transform: uppercase;
	width: 215px;
	box-shadow: 0 20px 34px -8px rgba(0, 0, 0, 0.25);
}
.step-link a:hover {
	width: 235px;
}
.step-link a:before {
	display: block;
	font-family: "Font Awesome 5 Free";
	content: "\f061";
	font-weight: 900;
	background-color: #d31e3d;
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 58px;
	text-align: center;
	line-height: 58px;
	font-size: 16px;
}
.step-link.link-white a:before {
	color: #ffffff;
	background-color: #000000;
}
.section-wrapper-inner .container {
	padding-right: 150px;
}
.main-content .main-block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding-right: 200px;
}
.item-center {
	align-items: center;
}
.main-block .block-image {
	position: relative;
	display: block;
	width: 30%;
}
.main-block .block-image img {
	border: 5px solid #fff;
	box-shadow: 0 20px 34px -8px rgba(0, 0, 0, 0.25);
}
.main-block .block-content {
	position: relative;
	display: block;
	width: 70%;
	padding: 0 15px 0 40px;
}
.block-heading {
	position: relative;
	display: block;
}
.block-heading .block-num {
	background-color: #000;
	color: #fff;
	display: block;
	    font-family: 'Gotham-Medium';
    font-weight: 500;
	font-size: 26px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.is-mobile .block-heading .block-num{
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.block-heading .heading {
	font-size: 32px;
	position: relative;
	margin: 20px 0;
	color: #000;
    font-family: 'Gotham-Medium';
font-weight: 500;
}
.block-heading .heading.fancy-heading {
	font-size: 55px;
	    font-family: 'Gotham-Medium';
    font-weight: 500;
	position: relative;
	margin: 0;
	display: inline-block;
}
.block-heading .heading.fancy-heading:before {
	content: "";
	display: block;
	width: 80px;
	height: 7px;
	position: absolute;
	bottom: 32px;
	background-color: #000;
	left: 0;
}
.block-heading .heading.fancy-heading:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000;
	margin: 30px 0;
}
.options {
	font-size: 0;
	display: block;
	margin-left: -5px;
	margin-right: -5px;
}
.options input {
	display: none;
}
.options label {
	display: inline-block;
	margin: 5px;
	font-weight: 400;
	font-size: 14px;
}
.options .option {
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
	font-weight: normal;
	color: #d31e3d;
	display: block;
	box-shadow: none;
	padding: 8px 20px;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	border-radius: 50px;
	border: 2px solid #d31e3d;
}
.is-mobile .options .option{
    font-size: 13px;
    line-height: 15px;
	    border: 1px solid #d31e3d;
}
.options .option:hover {
	box-shadow: 0 6px 8px -3px rgba(0, 0, 0, 0.25);
	color: #fff;
	background-color: #d31e3d;
	border-color: #d31e3d;
}
.options input:checked + .option {
	color: #ffffff;
	background-color: #d31e3d;
	border-color: #d31e3d;
	box-shadow: 0 6px 8px -3px rgba(0, 0, 0, 0.25);
}
.block-section .section-wrapper:before {
	content: "";
	display: block;
	width: 320px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #d31e3d;
	z-index: -1;
}
.block-section.final-result .section-wrapper:before {
	content: "";
	display: block;
	width: 60%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #ffffff;
	z-index: -1;
}
.block-section.final-result .section-wrapper:after {
	content: "";
	display: block;
	width: 40%;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #d31e3d;
	z-index: -1;
}
.final-block .final-content {
	position: relative;
	display: block;
	width: 58%;
	padding-right: 60px;
}
.final-block .form-submit {
	position: relative;
	display: block;
	max-width: 350px;
}
.main-block.final-products {
	padding-right: 0;
}
.final-products .final-content {
	position: relative;
	display: block;
	width: 50%;
	padding-right: 60px;
}
.final-products .final-result {
	position: relative;
	display: block;
	width: 50%;
}
.final-products .final-info {
	background-color: #faeaed;
	display: table;
	width: 100%;
	padding: 10px;
	table-layout: fixed;
	margin-top: 25px;
}
.final-info .info-image {
	display: table-cell;
	vertical-align: middle;
	width: 100px;
}
.final-info .info-text {
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	color: #000;
	line-height: 20px;
	padding-left: 15px;
}
.contact-form {
	position: relative;
	z-index: 1;
	padding: 20px;
	box-shadow: 0 20px 34px -8px rgba(0, 0, 0, 0.25);
	border: 5px solid #fff;
	background-color: #faeaed;
}
.m-0 {
	margin: 0px;
}
.form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #fff;
	font-size: 13px;
	padding: 10px 12px;
	height: auto;
	line-height: inherit !important;
}
.form-control:focus {
	border-color: #7f8a96;
	box-shadow: none;
}
.contact-form .checkbox {
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 0px;
	color: #000000;
}
.product-grid {
	display: flex;
	flex-wrap: wrap;
}
.product-grid .product {
	position: relative;
	display: block;
	width: calc(50% - 20px);
	padding-top: 0;
	font-size: 14px;
	vertical-align: top;
	box-shadow: 0 6px 5px 0px rgba(0, 0, 0, 0.25);
	margin: 10px;
	background-color: #fff;
}
.product .product-image {
	position: relative;
	display: block;
}
.product .product-step {
	color: #d31e3d;
    font-family: 'Gotham-Medium';
    font-weight: 500;
	position: absolute;
	left: 15px;
	top: 15px;
	right: 70px;
	font-size: 16px;
}
.product .product-desc {
	background-color: #ffffff;
	padding: 15px;
	position: relative;
	padding-top: 0;
}
.product .product-desc:before {
	content: "";
	display: block;
	border-top: 1px solid #000000;
	margin-bottom: 15px;
	    margin-top: -1px;
}
.product .product-title {
	font-size: 14px;
	    font-family: 'Gotham-Medium';
    font-weight: 500;
	margin-bottom: 10px;
	color: #000;
	line-height: 1.4;
	min-height:40px;
}
.product-share {
    font-size: 13px;
    font-family: 'Gotham-Medium';
    font-weight: 500;
    display: table;
    position: absolute;
    right: 15px;
    top: 12px;
}
.product-share .text {
	display: table-cell;
	padding-right: 5px;
	vertical-align: middle;
}
.product-share .icons {
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
}
.product-share .icons a {
	display: inline-block;
	margin: 0 5px;
	color: #d31e3d;
}
.product-share .icons a:hover {
	color: #000000;
}
.product-info {
	position: absolute;
	bottom: 0px;
	right: 15px;
}
.product-info .info-link {
	display: table-cell;
	margin: 0;
	position: relative;
	z-index: 1;
	background-color: #000;
}
.product-info .info-link:nth-child(even) {
	background-color: #d31e3d;
}
.product-info .info-link a {
	display: block;
	width: 40px;
	height: 40px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	border-radius: 100%;
	position: relative;
}
.product-ymltp .product .product-info .info-link a{
	    width: 30px;
    height: 30px;
	line-height: 30px;
}
.product-info .info-link a:hover {
	color: #faeaed;
}
.contact-form .placeholder-css-active {
	color: #d31e3d;
}
.c-heading {
	color: #000000;
	font-size: 15px;
	font-family: 'Gotham-Bold';
    font-weight: bold;
}
.checkbox label, .radio label{
	font-family: 'Gotham-Book';
font-weight: normal;
}
#error-validate-message {
	color: #d31e3d;
	font-size: 12px;
	    font-family: 'Gotham-Medium';
    font-weight: 500;
	margin-bottom: 10px;
}
img.quiz-image {
	display: block;
	background-image: url(../images/loading.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 80px auto;
	width: 100%;
	background-color: #fff;
	height: auto;
}
.ymltp-block {
	box-shadow: 0 6px 5px 0px rgba(0, 0, 0, 0.25);
	padding: 20px;
	margin: 30px 10px;
	background-color: #fff;
}
.product-ymltp {
	display: flex;
	flex-wrap: wrap;
	margin-left: -20px;
	margin-right: -20px;
	padding-top: 10px;
}
.product-ymltp .product {
	display: block;
	text-align: center;
	width: 33.33%;
	padding: 0 0px;
	border-right: 1px solid #000;
	position: relative;
}
.product-ymltp .product:last-child{
	border: none;
}
.small-heading {
	color: #000000;
    font-size: 16px;
    font-family: 'Gotham-Medium';
    font-weight: 500;
	display: block;
}
.product-ymltp .product .product-desc {
	background-color: #ffffff;
	padding: 10px;
	position: relative;
	padding-top: 0;
	padding-bottom: 30px;
}
.product-ymltp .product .product-desc:before {
	content: "";
	display: none;
	margin-bottom: 0;
}
.product-ymltp .product .product-title {
	font-size: 12px;
	margin-bottom: 10px;
	color: #000;
	line-height: 18px;
}
.footer-image {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
	text-align: right;
	max-width: 478px;
}
.hero-image-mobile {
	display: none;
}
.is-tablet.landscape, .is-mobile.landscape {
	width: 100%;
	background-image: url(../images/rotate_screen_icon.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 90px auto;
	background-color: #b80221;
}
.is-tablet.landscape .main-wrapper, .is-mobile.landscape .main-wrapper {
	visibility: hidden;
	opacity: 0;
}
.is-tablet .section-wrapper-inner {
	padding-top: 35px;
	display: block;
}
.is-tablet .hero .section-wrapper-inner{

}
.is-tablet .page-content .hero-content {
	position: relative;
	width: 100%;
	padding-right: 220px;
}
.is-tablet .hero-heading {
	font-size: 50px;
}
.is-tablet .page-content .hero-image, .is-mobile .page-content .hero-image {
	display: none;
}
.is-tablet .section-wrapper, .is-mobile .section-wrapper{
	display: block;
}
.is-tablet .block-section .section-wrapper:before, .is-mobile .block-section .section-wrapper:before {
	width: 100%;
	height: 250px;
}
.is-tablet .main-content .main-block, .is-mobile .main-content .main-block {
	position: relative;
	display: block;
	padding-right: 0;
}
.is-tablet .main-block .block-image, .is-mobile .main-block .block-image {
	position: relative;
	display: block;
	width: 100%;
	text-align: right;
	margin-top: -98px;
}
.is-mobile .main-block .block-image{margin-top: 10px;}
.is-tablet .main-block .block-image img {
	width: 260px;
	margin: auto 0 auto auto;
}
.is-mobile .main-block .block-image img{
    width: 120px;
    margin: 0;
	border: 3px solid #fff;
    box-shadow: 0 15px 25px -5px rgba(0, 0, 0, 0.25);
}
.is-tablet .main-block .block-content, .is-mobile .main-block .block-content {
	position: relative;
	display: block;
	width: 100%;
	padding: 0;
	margin-top: -45px;
}
.is-mobile .main-block .block-content {
margin-top:25px;
}
.is-tablet .step-link {
	position: absolute;
	right: 0;
	top: auto;
	transform: translateY(0%);
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	z-index: 5;
	bottom: 95px;
}

.is-tablet .footer-image {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	text-align: left;
	max-width: 350px;
}
.is-tablet .block-section.final-result .section-wrapper:after {
	content: "";
	width: 100%;
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;
	height: 300px;
	z-index: -1;
}
.is-tablet .final-block .final-content {
	position: relative;
	display: block;
	width: 100%;
	padding-right: 0px;
}
.is-tablet .final-block {
	padding-right: 200px;
}
.is-tablet .final-block .form-submit {
	margin-top: 35px;
}
.is-tablet .color-1 {
	color: #ffffff;
}
.is-tablet .final-products .final-content {
	position: relative;
	display: block;
	width: 100%;
	padding-right: 0;
}
.is-tablet .final-products .final-result {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 25px;
	background-color: #d31e3d;
	padding: 50px 50px 0;
}
.is-tablet .main-block.final-products {
	padding-right: 0;
	margin-left: -50px;
	margin-right: -50px;
}
.is-tablet .final-products .final-content {
	padding: 0 50px;
}
.is-tablet .hero-image-mobile, .is-mobile .hero-image-mobile {
	display: block;
	position: absolute;
	bottom: 0;
right:0px;
}
.is-mobile .header-logo {
	padding: 20px 0 0 20px;
}
.is-mobile .page-content {
	padding: 20px;
}
.is-mobile .hero-heading {
	font-size: 30px;
}
.is-mobile .page-content .hero-content {
	font-size: 14px;
	    width: 100%;
}
.is-mobile .footer {
	text-align: center;
	font-size: 12px;
	padding: 10px 5px;
}
.is-mobile .section-wrapper {
	display: block;
}
.is-mobile .section-wrapper-inner {
	display: block;
}
.is-mobile .step-link {
	position: relative;
	right: 0;
	top: 0;
	transform: translateY(0%);
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	z-index: 5;
	text-align: right;
	width: 100%;
    margin: 15px 0;
}
.is-mobile .step-link.hero-btn{margin-bottom:0px;}
.is-mobile .step-link a {
	display: inline-block;
	padding: 0px 0px 0px 48px;
	font-size: 14px;
	line-height: 50px;
	width: 198px;
}
.is-mobile .step-link a:hover{
    width: 220px;
}
.is-mobile .step-link a:before {
	width: 50px;
	line-height: 50px;
}
.hero-image-mobile .image-wrapper {
	display: block;
	margin: 0 auto;
}
.is-mobile .block-heading .heading {
    font-size: 16px;
    line-height: 20px;
}
.is-mobile .footer-image{
    position: relative;
    text-align: center;
    max-width: 100%;
    width: 100%;
}
.is-mobile .final-block .final-content, .is-mobile .final-products .final-content {
    position: relative;
    display: block;
    width: 100%;
    padding-right: 0;
}
.is-mobile .final-products .final-content{padding:0 20px;}
.is-mobile .block-heading .heading.fancy-heading{
    font-size: 30px;
    line-height: 1.1;
}
.is-mobile .block-section.final-result .section-wrapper:after {
    content: "";
    width: 100%;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    height: 50%;
}
.is-mobile .color-1 {
    color: #ffffff;
}
.is-mobile .final-products .final-info{display:none;}
.is-mobile .main-block.final-products {
    padding-right: 0;
    margin-left: -20px;
    margin-right: -20px;
}
.is-mobile .product-grid{display:block;}
.is-mobile .final-products .final-result {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 25px;
    background-color: #d31e3d;
    padding: 40px 20px 0;
}
.is-mobile .product-grid .product {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
}
.is-mobile .ymltp-block {
    margin: 30px 0 0;
}
.is-mobile .product-ymltp {
    display: block;
    margin-left: 0;
    margin-right: 0;
}
.is-mobile .product-ymltp .product {
    display: block;
    width: 100%;
    padding: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
}
.is-mobile .product-ymltp .product:last-child {
	border: none;
}
.swal-button {
    background-color: #f93333;
}
.swal-icon--error__line {
    background-color: #f93333;
}

.swal-button:hover {
    background-color: #f93333;
}

.swal-button:active {
    background-color: #f93333;
}
swal-button:confirm {
    background-color: #f93333;
}
.swal-button:not([disabled]):hover{
    background-color: #f93333;
}
.swal-button:not:hover{
    background-color: #f93333;
}
.shop-link{
	position: relative;
    color: #d31e3d;
    font-family: 'Gotham-Bold';
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 10px;
}
.shop-link a{
color: #d31e3d;
}
.shop-link a:hover{color:#000000;}
.shop-brands{
position: relative;
    display: block;
    margin-left: -5px;
    margin-right: -5px;
}
.shop-brands td{padding:5px;}
.shop-brands img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.shop-brands img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}